body {
    background: url('images/pattern-background-desktop.svg');
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-position-y: -51%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
div.main {
    /* margin-top: 68px; */
    background: url('images/illustration-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 325px;
    border-radius: 10px;

}
h2 {
    text-align: center;
    margin-top: 55%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(223, 47%, 23%);
    font-size: 20px;
    font-weight: 900;
}
p {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    font-weight: 500;
}
button.b {
    width: 88%;
    color: white;
    background-color: hsl(249, 88%, 47%);
    box-shadow: 0px 13px 16px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    margin-left: 6%;
    margin-top: 20px;
    font-weight: 800;
    
}
button.b:hover {
    opacity: 0.7;    
}
h5.a {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 800;
}
a.h:hover {
    color: hsl(223, 47%, 23%);
    font-size: bolder;
}
a.h {
    
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}
div.container {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    margin-left: 6%;
    margin-top: 19px;
    margin-bottom: 10px;
    
    border-radius: 10px;
}
div.left {
    display: flex;
    flex-direction: row;
}
img {
    margin-top: 19px;
    margin-left: 15px;
    margin-right: 13px;
    width: 40px;
    height: 40px;
}
h5.h {
    margin-right: 20px;
    margin-top: 28px;
    color: hsl(249, 88%, 49%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 800;

}
h5.h:hover {
    color: hsl(249, 59%, 52%);
}
a.ol:hover {
    text-decoration: none;
    

}
h5.ol {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(223, 47%, 23%);
    font-size: 13px;
     font-weight: 800;
}
span {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(224, 23%, 55%);
    font-size: 12.5px;
     font-weight: 800;
}
hr {
    margin-top: 27px;
    margin-bottom: 27px;
}
h3 {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(223, 83%, 45%);
    font-size: 20px;
    font-weight: 700;
}
button.f {
    width: 60%;
    margin-left: 20%;
    background-color: whitesmoke;
    height: 28px;
    border: none;
}

